# Project {{.Name}} {{.SlugName}}
locals {

  version = "0.0.0"

  prj_vars    = yamldecode(file(find_in_parent_folders("prj.yml")))
  env_vars    = yamldecode(file(find_in_parent_folders("env.yml")))
  region_vars = yamldecode(file(find_in_parent_folders("region.yml")))

  name          = local.prj_vars.name
  environment   = local.env_vars.environment
  region        = local.region_vars.region  
{{if .UseRemoteState}}
  state_bucket = local.prj_vars.stateBucket  
  state_region = local.prj_vars.stateRegion
  state_key = "${local.slug_name}/${local.environment}/${local.region}.tfstate"
{{end}}
}

# Generate an azure provider block
generate "provider" {
  path      = "provider.tf"
  if_exists = "overwrite_terragrunt"
  
  contents  = <<EOF
provider "aws" {
  region  = "${local.region}"
}

{{if .UseRemoteState}}
terraform {
  backend "s3" {
    bucket = "${local.state_bucket}"
    key    = "${local.state_key}"
    region = "${local.state_region}"
  }
}
{{end}}
EOF
}

